.electronics-container{
    display: flex;
    justify-content: flex-start;
}
.electronics-container > div{
    margin-right:  30%;
    width: 200px;
}
.electronics-container ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    justify-content: normal;
    color: gray;
}

.electronics-container h4, ul{
    margin: 0;
    font-size: small;
}
ul{
    margin: 0;
    font-size: 13px;
    line-height: 13px; 
}
ul li{
    cursor: pointer;
}
ul li:hover{
    color: maroon;
}